{% extends "bot/base.html" %} {% load static %} {% block content %}
<title>DwarfBot Website</title>



<img class="rounded-circle" src="{{ object.author.profile.image.url }}">
<h2>{{ object.author }}</h2>
<h2>{{ object.date_posed|date:"F d, Y, H:i"}}</h2>

{% if object.author == user %}
<div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
</div>
{% endif %}
<h2>{{ object.title }}</h2>
{{ object.content }} {% endblock content %}